<!DOCTYPE html>
<html lang="en">
<meta charset="UTF-8">
<title>Page Title</title>
<meta name="viewport" content="width=device-width,initial-scale=1">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
<link rel="stylesheet" href="css/admin.css">
<body>
 <h1>This is admin</h1>
 <div id="root"></div>

<br>
<div>
    <button class="btn btn-info btn-sm active text-light" onclick="addQuestion(null, true)">Add</button>
    <button class="btn btn-success btn-sm active text-light" onclick="">Save Changes</button>
    <button class="btn btn-danger btn-sm active text-light" onclick="">Delete</button>
</div>
<br>
<div>
  <a class="btn btn-primary btn-sm active text-light link" href="/">Back</a>
</div>
<script src="js/admin.js"></script>
</body>
</html>