<!DOCTYPE html>
<html lang="en">
<meta charset="UTF-8">
<title>Page Title</title>
<meta name="viewport" content="width=device-width,initial-scale=1">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
<link rel="stylesheet" href="/COMP4537/labs/2/dynamicQuiz/css/admin.css">
<style>
</style>
<script src=""></script>
<body>

<div class="text-center">
 <h1>Quiz DB Assignment</h1>
 <a class="btn btn-primary active text-light link" href="admin">Admin</a>
 <a class="btn btn-primary active text-light link" href="student">Student</a>
</div>

</body>
</html>