<!DOCTYPE html>
<html lang="en">
<meta charset="UTF-8">
<title>Page Title</title>
<meta name="viewport" content="width=device-width,initial-scale=1">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
<link rel="stylesheet" href="css/reader.css">
<body class="text-center">
<div>
    <h1>Quote Reader</h1>
    <a class="btn btn-primary active text-light link" href="allquotes">All Quotes</a>
    <a class="btn btn-primary active text-light link" href="recentquote">Recent Quote</a>
</div>
<br>
<div>
    <a class="btn btn-primary active text-light link" href="/">Back</a>
</div>
</body>
</html>